$main-text-color: #000000;
$accent-color: #ff6b01;
$accent-second-color: #ff001b;
$background-main-color: #ffffff;
$background-footer-color: #f7f7f7;
$secondary-text-color: #ffffff;
$spinner-color: #3d314a;
