<div
  class="backdrop is-hidden visually-hidden js-backdrop forget-modal-backdrop"
>
  <div class="forget-modal">
    <form name="form" autocomplete="on" id="forget-form">
      <button type="button" class="form__close close" data-modal-cloe>
        <svg class="close__btn" width="18" height="18">
          <use href="./images/sign-in-icons.svg#icon-cross"></use>
        </svg>
      </button>
      <strong id="form__header" class="form__header"> Password reset </strong>
      <div class="field">
        <label for="email" class="field___label">
          <span class="field__text">E-mail</span>
        </label>
        <input
          type="email"
          name="email"
          class="field__input"
          id="email1"
          required
        />
      </div>
      <button type="button" class="reset__btn">Send message</button>
    </form>
  </div>
</div>
