<header class="library-header">
  <div class="library-header__container container">
    <nav class="header__navigation">
      <a href="/src/index.html" class="logo-header">
        <svg class="logo-header__icon" width="24" height="24">
          <use href="/src/images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo-header__logo-text">Filmoteka</span>
      </a>
      <ul class="header__navigation-list list">
        <li class="header__navigation-item">
          <a class="header__navigation-item-link" href="./index.html">HOME</a>
        </li>
        <li class="header__navigation-item">
          <a class="header__navigation-item-link current" href="./myLibrary.html">MY LIBRARY</a>
        </li>
        <li class="header__navigation-item sign-in_js">
          <a class="header__navigation-item-link">Sign in / Sign up</a>
        </li>
        <li class="header__navigation-item log-out_js visually-hidden">
          <a class="header__navigation-item-link">Log out</a>
        </li>
      </ul>
      <button type="button" class="dark-theme-btn js-dark-theme-btn"></button>
    </nav>
    <div class="filter">
      <button type="button" class="js-btn-watched filter__btn filter__btn--active" data-id="55555">
        watched
      </button>
      <button type="button" class="js-btn-queue filter__btn" data-id="55555">queue</button>
    </div>
    <div class="message-conteiner">
      <p class="message" id="message"></p>
    </div>
  </div>
</header>
