<div class="header__conteiner conteiner">
  <a class="header__logo logo" href="./index.html"
    ><svg class="logo__icon icon" width="24px" height="23px">
      <use href="./images/film.svg"></use>
    </svg>
    Filmoteka
  </a>
  <nav class="nav">
    <ul class="nav-menu list">
      <li class="nav-menu__item">
        <a class="nav-menu__link" href="./index.html">HOME</a>
      </li>
      <li class="nav-menu__item">
        <a
          class="nav-menu__link nav-menu__link--current"
          href="./myLibrary.html"
          >MY LIBRARY</a
        >
      </li>
    </ul>
  </nav>
  <div class="filter">
    <button type="button" class="filter__btn filter__btn--active">
      WATCHED
    </button>
    <button type="button" class="filter__btn filter__btn--active">QUEUE</button>
  </div>
</div>
