<section class="gallery">
  <div class="container">
    <ul class="lib-gallery__set">
      <li
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 592px;
          background: linear-gradient(
            45deg,
            rgba(108, 9, 9, 0.8267682072829132) 0%,
            rgba(62, 65, 87, 0.83) 50%,
            rgba(108, 9, 9, 0.83) 100%
          );
        "
      >
        <p style="font-size: 48px; font-weight: 700">Nothig added to Queue list</p>
      </li>
    </ul>
    <div class="loader visually-hidden">
      <div class="loader__filmstrip"></div>
      <p class="loader__text">loading</p>
    </div>
  </div>
</section>
