.up {
  cursor: pointer;
  background-color: transparent;
  float: right;
  translate: -40;
  z-index: 2;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.up__btn {
  right: 0;
  text-align: center;
}