img {
  border-radius: 5px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery__set,
.lib-gallery__set {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include tablet {
    gap: 32px;
  }

  @include desktop {
    gap: 16px;
  }
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  width: 100%;
  @include tablet {
    width: calc((100% - 32px) / 2);
  }
  @include desktop {
    width: calc((100% - 32px) / 3);
  }
}

.film__poster {
  width: 280px;
  height: 398px;
  @include tablet {
    width: 336px;
    height: 455px;
  }
  @include desktop {
    width: 394px;
    height: 574px;
  }
}

.film__description {
  display: flex;
}

.film__title {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $main-text-color;
  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film__info {
  font-size: 12px;
  line-height: 1.33;
  color: $accent-color;

  @include desktop {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-left: 8px;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: 1.17;
  color: $background-main-color;
  background: $accent-color;
  border-radius: 5px;

  @include desktop {
    width: 40px;
    height: 20px;
  }
}


.img {
  display: block;
  max-width: 100%;
  height: 398px;
  cursor: pointer;

  @include tablet {
    height: 455px;
  }

  @include desktop {
    height: 574px;
  }
}

.item__text {
  margin-top: 8px;
}

.item__wrap {
  display: flex;
}