.page-header {
  text-align: center;
  background-image: url('/src/images/header.img/mobile_1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 44px;
  //margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/header.img/tablet_1x.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/header.img/desktop_1x.jpg');
  }
}

.header__container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 32px;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.header__navigation-list {
  display: flex;
  list-style-type: none;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: auto;
  color: $secondary-text-color;
  align-items: center;
}

.header__navigation-item {
  margin-left: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.2);
  }
}

.sign-in__btn,
.sign-out__btn {
  fill: $secondary-text-color;
}

.header__navigation-item-link {
  position: relative;

  &::after {
    border: 1px solid rgba($accent-second-color, 0);
    bottom: -2px;
    content: ' ';
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 0;
  }

  &:hover::after {
    border-color: $accent-second-color;
    width: 100%;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__navigation-item-link.current {
  padding-bottom: 1px;
  border-bottom: 2px solid $accent-second-color;

  &:hover {
    border-bottom: none;
  }
}
.logo-header__icon {
  fill: none;
  stroke: #ffffff;
  margin-right: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header {
  display: inline-flex;
  align-items: center;
  color: $secondary-text-color;
  margin: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active {
    transform: scale(1.15);
  }
  &:hover .logo-header__icon {
    transform: rotateX(3.142rad);
    stroke: $accent-second-color;
  }
}

.logo-header__logo-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

.header-search__form {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 400px;
  }
  &:hover .header-search-input,
  &:focus .header-search-input {
    border-bottom: 0.5px dashed $accent-second-color;
  }
}

.header-search__btn-icon {
  height: 100%;
  fill: none;
  stroke: #fff;
  content: '';
  border: none;
  background-color: inherit;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .header-search-input {
//   width: 100%;
//   padding-bottom: 4px;
//   margin: 0;
//   padding-right: 50px;
//   border: none;
//   background-color: inherit;
//   border-bottom: 0.5px solid #fff;
//   font-size: 14px;
//   color: $secondary-text-color;
//   transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:-webkit-autofill,
//   &:-webkit-autofill:hover,
//   &:-webkit-autofill:focus,
//   &:-webkit-autofill:active {
//     box-shadow: 0 0 0 30px $accent-color inset;
//   }
// }

.header-search-input {
  width: 100%;
  padding-bottom: 4px;
  margin: 0;
  padding-right: 50px;
  border: none;
  background-color: inherit;
  border-bottom: 0.5px solid #fff;
  font-size: 14px;
  color: $secondary-text-color;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-bottom: 0.5px solid $accent-second-color;
    -webkit-text-fill-color: rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
  }
}

.header-search__btn-submit {
  position: absolute;
  content: '';
  right: 3px;
  display: inline-flex;
  border: none;
  margin-bottom: 6px;
  bottom: 0;
  background-color: inherit;
  &:hover .header-search__btn-icon {
    transform: scale(1.2);
  }
}

.header-search {
  position: relative;
}

.form-text {
  position: absolute;
  top: 20px;
  margin: 14px 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: $accent-second-color;
  @media screen and (min-width: 768px) {
    text-align: center;
  }
}
