.page-header {
    text-align: center;
    background-image: url('/src/images/header.img/mobile_1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 44px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        background-image: url('/src/images/header.img/tablet_1x.jpg');
    }

    @media screen and(min-width: 1280px) {
        background-image: url('/src/images/header.img/desktop_1x.jpg');
    }

}

.header__container {
    margin: auto;
    padding: 0 20px;
    max-width: 320px;

    @media screen and (min-width: 768px) {
        max-width: 740px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1240px;
    }
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__navigation-list {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.header__navigation-item {
    margin-left: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        transform: scale(1.20);
    }

}

.header__navigation-item-link {
    position: relative;

    &::after {
        border: 1px solid rgba(#FF001B, 0);
        bottom: -2px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 0;

    }

    &:hover::after {
        border-color: #FF001B;
        width: 100%;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

.header__navigation-item-link.current {
    padding-bottom: 1px;
    border-bottom: 2px solid #FF001B;

    &:hover {
        border-bottom: none;
    }
}
.logo-header__icon {
fill: none;
stroke: #FFFFFF;
margin-right: 8px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.logo-header {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    transform: scale(1.20);
    }
    &:hover .logo-header__icon {
            transform: rotateX('3.142rad');
            stroke: #FF001B;
        }
        
    }


